<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create book</title>
</head>
<body>
<div>
    <form th:method="post" th:action="@{/book/create}" th:object="${book}">
        <input type="text" name="title" th:value="${book.title}" placeholder="Title"/>
        <br/>
        <br/>
        <input type="text" name="author" th:value="${book.author}" placeholder="Author"/>
        <br/>
        <br/>
        <input type="text" name="year" th:value="${book.year}" placeholder="Year"/>
        <br/>
        <br/>
        <select name="personId" th:field="*{person.id}">
            <option th:each="person : ${persons}" th:value="${person.id}" th:text="${person.getFullName()}"></option>
        </select>
        <input type="submit" value="Добавить читателя"/>
    </form>
</div>
</body>
</html>
