<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <p id="id" th:text="'Id: ' + ${bookId}"></p>
    <p id="title" th:text="'Title: ' + ${title}"></p>
    <p id="author" th:text="'Author: ' + ${author}"></p>
    <p id="year_" th:text="'Year: ' + ${year}"></p>
    <p th:text="${person.getFullName() != null ? 'Читает: ' + person.getFullName() + ' | ID:' + person.getId() : 'Эту книгу не читают'}"></p>
    <form th:if="${person.getFullName() == null}" th:method="POST" th:object="${person}">
        <select id="personId" th:field="*{id}">
            <option th:each="p : ${persons}" th:value="${p.id}" th:text="${p.fullName}">
            </option>
        </select>
        <button type="submit">Для читателя</button>
    </form>
</div>
</body>
</html>
