<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>
    <form th:method="patch" th:action="@{/person/{id}(id=${person.getId()})}" th:object="${person}">
        <label for="fullName">Full Name: </label>
        <input type="text" th:field="*{fullName}" id="fullName"/>
        <br/>
        <br/>
        <label for="age">Age: </label>
        <input type="text" th:field="*{age}" id="age"/>
        <br/>
        <br/>
        <button type="submit">edit</button>
    </form>
</body>
</html>