<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Create person</title>
</head>
<body>
    <form th:method="POST" th:action="@{/person/create}" th:object="${person}">
        <input type="text" th:field="*fullName" id="fullName" placeholder="Full name"/>
        <br/>
        <br/>
        <input type="text" th:field="*age" id="age" placeholder="Age"/>
        <br/>
        <br/>
        <button type="button">save</button>
    </form>
</body>
</html>