<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create person</title>
</head>
<body>
<div>
    <form th:method="POST" th:object="${person}">
        <input type="text" style="font-size: 16px" name="fullName" th:text="'Fullname: ' + ${person.fullName}" id="fullName"/>
        <br/>
        <input type="text" name="age" th:text="'Age: ' + ${person.age}" id="age"/>
        <br/>
        <button type="submit">save</button>
    </form>
</div>
</body>
</html>