<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create person</title>
</head>
<body>
<div>
    <form th:method="POST" th:action="@{/person/create}" th:object="${person}">
        <input name="fullName" th:value="${person.fullName}" placeholder="Full name">
        <br/>
        <br/>
        <input name="age" th:value="${person.age}" placeholder="Age">
        <br/>
        <br/>
        <button type="submit">Сохранить</button>
    </form>
</div>
</body>
</html>