<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Info about person</title>
</head>
<body>
<h4 th:text="${id}"></h4>
<div class="info">
    <p>Full name: <span th:text="${fullName}"></span></p>
    <p>Age: <span th:text="${age}"> </span></p>
</div>

<div class="book-list">
    <p>Books:</p>
    <ul>
        <li th:each="book : ${books}">
            <h4 th:text="${book.title}"></h4> by <span th:text="${book.author}"></span>
        </li>
    </ul>
</div>
</body>
</html>