<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create person</title>
</head>
<body>
<div class="menu">
    <div>
        <table class="table">
            <tr>
                <td>FullName</td>
                <td>Age</td>
            </tr>
            <tr th:each="person:${persons}">
                <td th:text="${person.getFullName()}"></td>
                <td th:text="${person.getAge()}"></td>
                <td><a class="floating-button-a" th:href="@{'/person/'+ ${person.id} + '/edit'}">edit</a></td>
                <td><a class="floating-button-a" th:href="@{/person/remove/{id}(id=${person.getId()})}">Удалить</a></td>
            </tr>
        </table>
    </div>
    <div>
        <a class="floating-button-a" href="/person/create">Создать человека</a>
        <a class="floating-button-a" href="/menu" >Меню</a>
    </div>
</div>
</body>
</html>